.rs-control .rs-range-color {
    background-color: #496aa1;
}
.rs-control .rs-path-color {
    background-color: #45829f;
}
.rs-control .rs-handle {
    background-color: #1a4467;
}
.rs-control .rs-bg-color {
    background-color: #321414;
}